@model IEnumerable<SteffanIndustries.Models.Quote>

@{
    ViewData["Title"] = "Quotes";
}

<h2>Quotes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuoteDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobCost)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuoteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuoteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuoteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
